.background {
  background-image: linear-gradient(to right top, #81365b, #8f453a, #806028, #5e793c, #238b6f);
  background-size: 400vw 400vh;
  animation: backgroundGradient 120s ease infinite;
}

@keyframes backgroundGradient  {
  0% {
    background-position: 0% 90%
  }
  50% {
    background-position: 100% 10%
  }
  100% {
    background-position: 0% 90%
  }
}
