{#if href}
  <a href={href}><button type="{nativeType}" class="button"><slot /></button></a>
{:else}
  <button type="{nativeType}" class="button"><slot /></button>
{/if}

<script>
  export default {
    data() {
      return {
        href: null,
      };
    },
  }
</script>

<style>
  .button {
    padding: .6rem 1.5rem;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    color: var(--orange);
    background-color: var(--white);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 15%);
    cursor: pointer;
  }
</style>
