<div id="token" data-token="<%= @account.access_token %>"></div>

<div id="circle_beat" class="circle"></div>
<div id="circle_bar" class="circle"></div>

<canvas id="canvas"></canvas>

<div class="player">
  <sl-icon-button id="play" class="button" name="play" label="Play"></sl-icon-button>
  <sl-icon-button id="pause" class="button" name="pause" label="Pause"></sl-icon-button>
</div>
