<div id="token" data-token="<%= @account.access_token %>"></div>

<button id="play">PLAY</button>
<button id="pause">STOP</button>

<div id="circle_beat" class="circle"></div>
<div id="circle_bar" class="circle"></div>
