:root {
  --signup-button-color: #1DB954;
}

.signup {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .signup__button::part(base) {
    background-color: var(--signup-button-color);
    color: var(--sl-color-white);
    border: none;
  }
}
