.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form__input {
  margin-bottom: 36px;
  width: 70%;
  max-width: 240px;
}

.login-form__button {
  width: 70%;
  max-width: 240px;
}
