<div class="c-post theme-white">
  <div class="c-post__meta">
    <div class="c-post__meta__avatar">
      <img class="c-post__meta__avatar__image" alt="<%= @post.user.name %>" src="<%= Helpers.gravatar_url(@post.user.email) %>">
    </div>
    <span class="c-post__meta__name">
      <%= @post.user.name %>
    </span>
    <time class="c-post__meta__time">
      <%= Helpers.datetime(@post.inserted_at) %>
    </time>
  </div>
  <p class="c-post__body"><%= @post.body %></p>
</div>
