<div class="l-full-height theme-orange">
  <div class="l-container">
    <h2 class="c-page-title theme-text-white">Send Magic Link</h2>

    <div class="sent-magic-link">
      <p class="sent-magic-link__message">Check Your Email</p>
      <p class="sent-magic-link__note">
        Magic link was sent to you.
        <a href="<%= Routes.login_path(@conn, :new) %>" class="c-link">Re-send?</a>
      </p>
    </div>
  </div>
</div>
