<section class="player">
  <%= if @track do %>
    <img class="cover-image" src="<%= @track.image %>">
    <span class="title"><%= @track.title %> - <%= @track.artist %></span>
  <% end %>
</section>
