<%= render NyonWeb.SharedView, "header.html", user: @current_user %>

<div class="c-post-list l-container">
  <%= for post <- @posts do %>
    <%= render NyonWeb.SharedView, "post.html", post: post %>
  <% end %>
</div>
